@keyframes bgborder {
  from {
    left: 5%;
    top: 0%;
  }
  to {
    left: 95%;
    top: 45%;
  }
}

@keyframes bgborder2 {
  from {
    right: 0%;
    top: 0%;
  }
  to {
    right: 75%;
    top: 45%;
  }
}

@keyframes bgborder3 {
  from {
    right: 65%;
    top: 80%;
  }
  to {
    right: 25%;
    top: 25%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 6rem;
  @media (max-width: 640px) {
    padding: 3rem;
  }
}

.bola-celeste {
  position: fixed;
  padding: 4rem 0;
  animation: bgborder 16s infinite alternate;
  @media (max-width: 640px) {
    animation: bgborder 10s infinite alternate;
  }
}

.bola-celeste::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 640px;
  height: 420px;
  margin-left: -400px;
}

.bola-celeste::after {
  background: var(--primary-glow);
  width: 360px;
  height: 240px;
}

.bola-celeste::before,
.bola-celeste::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.bola-azul {
  position: fixed;
  padding: 2rem 0;
  animation: bgborder2 24s infinite alternate;
  @media (max-width: 640px) {
    animation: bgborder2 15s infinite alternate;
  }
}

.bola-azul::before {
  background: #23366f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: -400px;
}

.bola-azul::after {
  background: var(--primary-glow);
  width: 160px;
  height: 120px;
}

.bola-azul::before,
.bola-azul::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(65px);
  transform: rotate();
}

.bola-gris {
  position: fixed;
  padding: 2rem 0;
  animation: bgborder3 20s infinite alternate;
  @media (max-width: 640px) {
    animation: bgborder3 13s infinite alternate;
  }
}

.bola-gris::before {
  background: #323f7f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: -400px;
}

.bola-gris::after {
  background: var(--primary-glow);
  width: 140px;
  height: 100px;
}

.bola-gris::before,
.bola-gris::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(85px);
  transform: translateZ(0);
}

.img-wp-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  @media (min-width: 640px) {
    width: 60px;
    height: 60px;
    top: 20px;
    right: 10%;
  }
}

.img-wp {
  width: 50px;
  height: 50px;
  @media (min-width: 640px) {
    width: 70px;
    height: 70px;
  }
}
